@import "tailwindcss";
@import "tw-animate-css";

.policy-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.policy-table th,
.policy-table td {
    border: 1px solid #d3d3d3;
    padding: 10px;
    vertical-align: top;
}

.policy-table th {
    background: #fafafa;
    font-weight: 600;
}

@custom-variant dark (&:is(.dark *));

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDelay {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.6s ease-out forwards;
}

.animate-fade-in-delay {
    animation: fadeInDelay 0.8s ease-out forwards;
}

.animate-fade {
    animation: fadeIn 0.3s ease-out;
}
:root {
    --tempi-global-heading1fontfamily: "Roboto", sans-serif;
    --tempi-global-heading1fontsize: 72px;
    --tempi-global-heading1fontweight: 500;
    --tempi-global-heading1letterspacing: normal;
    --tempi-global-heading1lineheight: normal;
    --tempi-global-heading1fontvariation: "wght" 500, "wdth" 100, "SOFT" 0;
    --tempi-global-heading1mobilefontsize: 32px;
    --tempi-global-heading1mobilefontweight: 500;
    --tempi-global-heading1mobileletterspacing: normal;
    --tempi-global-heading1mobilelineheight: normal;
    --tempi-global-heading1mobilefontvariation: "wght" 500, "wdth" 100, "SOFT" 0;
    --tempi-global-heading1storyfontsize: 16.56%;
    --tempi-global-heading1bold: inherit;
    --tempi-global-heading1italic: inherit;
    --tempi-global-heading1textdecoration: inherit;
    --tempi-global-heading1texttransform: inherit;
    --tempi-global-heading2fontfamily: "Roboto", sans-serif;
    --tempi-global-heading2fontsize: 48px;
    --tempi-global-heading2fontweight: 500;
    --tempi-global-heading2letterspacing: normal;
    --tempi-global-heading2lineheight: normal;
    --tempi-global-heading2fontvariation: "wght" 500, "wdth" 100, "SOFT" 0;
    --tempi-global-heading2mobilefontsize: 28px;
    --tempi-global-heading2mobilefontweight: 500;
    --tempi-global-heading2mobileletterspacing: normal;
    --tempi-global-heading2mobilelineheight: normal;
    --tempi-global-heading2mobilefontvariation: "wght" 500, "wdth" 100, "SOFT" 0;
    --tempi-global-heading2storyfontsize: 11.04%;
    --tempi-global-heading2bold: inherit;
    --tempi-global-heading2italic: inherit;
    --tempi-global-heading2textdecoration: inherit;
    --tempi-global-heading2texttransform: inherit;
    --tempi-global-heading3fontfamily: "Roboto", sans-serif;
    --tempi-global-heading3fontsize: 32px;
    --tempi-global-heading3fontweight: 500;
    --tempi-global-heading3letterspacing: normal;
    --tempi-global-heading3lineheight: normal;
    --tempi-global-heading3fontvariation: "wght" 500, "wdth" 100, "SOFT" 0;
    --tempi-global-heading3mobilefontsize: 24px;
    --tempi-global-heading3mobilefontweight: 500;
    --tempi-global-heading3mobileletterspacing: normal;
    --tempi-global-heading3mobilelineheight: normal;
    --tempi-global-heading3mobilefontvariation: "wght" 500, "wdth" 100, "SOFT" 0;
    --tempi-global-heading3storyfontsize: 7.36%;
    --tempi-global-heading3bold: inherit;
    --tempi-global-heading3italic: inherit;
    --tempi-global-heading3textdecoration: inherit;
    --tempi-global-heading3texttransform: inherit;
    --tempi-global-heading4fontfamily: "Roboto", sans-serif;
    --tempi-global-heading4fontsize: 24px;

    --tempi-global-color1: #a170d9;
    --tempi-global-color2: #1c1c1c;
    --tempi-global-color3: #05cab6;
    --tempi-global-color4: #b8e6e1;
    --tempi-global-color5: #f5d4d1;
    --tempi-global-color6: #ebebeb;
    --tempi-global-color7: #666666;
    --tempi-global-color8: #ffffff;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

element.style {
    font-family: Montserrat;
    --fontSizeDesktop: 32px;
    color: rgb(255, 255, 255);
    text-align: center;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
