@import "tailwindcss";

:root {
    --tempi-global-heading1fontfamily: "Roboto", sans-serif;
    --tempi-global-heading1fontsize: 72px;
    --tempi-global-heading1fontweight: 500;
    --tempi-global-heading1letterspacing: normal;
    --tempi-global-heading1lineheight: normal;
    --tempi-global-heading1fontvariation: "wght" 500, "wdth" 100, "SOFT" 0;
    --tempi-global-heading1mobilefontsize: 32px;
    --tempi-global-heading1mobilefontweight: 500;
    --tempi-global-heading1mobileletterspacing: normal;
    --tempi-global-heading1mobilelineheight: normal;
    --tempi-global-heading1mobilefontvariation: "wght" 500, "wdth" 100, "SOFT" 0;
    --tempi-global-heading1storyfontsize: 16.56%;
    --tempi-global-heading1bold: inherit;
    --tempi-global-heading1italic: inherit;
    --tempi-global-heading1textdecoration: inherit;
    --tempi-global-heading1texttransform: inherit;
    --tempi-global-heading2fontfamily: "Roboto", sans-serif;
    --tempi-global-heading2fontsize: 48px;
    --tempi-global-heading2fontweight: 500;
    --tempi-global-heading2letterspacing: normal;
    --tempi-global-heading2lineheight: normal;
    --tempi-global-heading2fontvariation: "wght" 500, "wdth" 100, "SOFT" 0;
    --tempi-global-heading2mobilefontsize: 28px;
    --tempi-global-heading2mobilefontweight: 500;
    --tempi-global-heading2mobileletterspacing: normal;
    --tempi-global-heading2mobilelineheight: normal;
    --tempi-global-heading2mobilefontvariation: "wght" 500, "wdth" 100, "SOFT" 0;
    --tempi-global-heading2storyfontsize: 11.04%;
    --tempi-global-heading2bold: inherit;
    --tempi-global-heading2italic: inherit;
    --tempi-global-heading2textdecoration: inherit;
    --tempi-global-heading2texttransform: inherit;
    --tempi-global-heading3fontfamily: "Roboto", sans-serif;
    --tempi-global-heading3fontsize: 32px;
    --tempi-global-heading3fontweight: 500;
    --tempi-global-heading3letterspacing: normal;
    --tempi-global-heading3lineheight: normal;
    --tempi-global-heading3fontvariation: "wght" 500, "wdth" 100, "SOFT" 0;
    --tempi-global-heading3mobilefontsize: 24px;
    --tempi-global-heading3mobilefontweight: 500;
    --tempi-global-heading3mobileletterspacing: normal;
    --tempi-global-heading3mobilelineheight: normal;
    --tempi-global-heading3mobilefontvariation: "wght" 500, "wdth" 100, "SOFT" 0;
    --tempi-global-heading3storyfontsize: 7.36%;
    --tempi-global-heading3bold: inherit;
    --tempi-global-heading3italic: inherit;
    --tempi-global-heading3textdecoration: inherit;
    --tempi-global-heading3texttransform: inherit;
    --tempi-global-heading4fontfamily: "Roboto", sans-serif;
    --tempi-global-heading4fontsize: 24px;

    --tempi-global-color1: #a170d9;
    --tempi-global-color2: #1c1c1c;
    --tempi-global-color3: #05cab6;
    --tempi-global-color4: #b8e6e1;
    --tempi-global-color5: #f5d4d1;
    --tempi-global-color6: #ebebeb;
    --tempi-global-color7: #666666;
    --tempi-global-color8: #ffffff;
}
